:root {
  --honeydew: #edffecff;
  --light-green: #61e786ff;
  --davys-gray: #5a5766ff;
  --english-violet: #2e2a3b;
  --tropical-indigo: #9792e3ff;
  --black: #000000ff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: var(--english-violet);
  overflow-x: hidden;
}
body{
  font-family: "Fredoka", sans-serif;
  scrollbar-color: var(--light-green) var(--english-violet);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--english-violet);
  color: var(--honeydew);
  box-shadow: 0px 12px 9px -15px rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar-collapse {
  justify-content: end;
}
.logo {
  height: 8rem;
}
.nav-link {
  color: var(--honeydew);
  font-size: 2.4rem;
}
.nav-link:hover {
  color: var(--davys-gray);
}
.navbar-toggler-icon {
  color: var(--honeydew);
}
.navbar-nav {
  justify-content: center;
  align-items: center;
}
.presentacion {
  height: 70rem;
  background-color: var(--english-violet);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.img-alan {
  height: 30rem;
  border: solid 1px var(--honeydew);
  border-radius: 50%;
}
.presentacion-titulo {
  font-size: 10rem;
  color: var(--light-green);
}
.presentacion-texto {
  font-size: 3rem;
  color: var(--tropical-indigo);
}

.button {
  font-size: 18px;
  color: var(--light-green);
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button:focus,
.button:hover {
  color: var(--davys-gray);
}
.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}
.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--davys-gray);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Skills */
.skills {
  background-color: var(--english-violet);
  padding: 8rem 6rem;
  text-align: center;
  height: 70rem;
}

.title-section {
  color: var(--light-green);
  font-size: 4rem;
  margin-bottom: 5rem;
  padding-top: 10rem;
  text-align: start;
  display: flex;
  justify-content: center;
  background-color: var(--english-violet);
}
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}
.card-tecnologia {
  padding: 2rem;
}
.card-tecnologia:hover {
  border-radius: 20px;
  background: #2e2a3b;
  box-shadow: 13px 13px 39px #272432, -13px -13px 39px #353044;
  padding: 2rem;
}
.card-imagen {
  width: 10rem;
  padding-bottom: 2rem;
}
.titulo-card {
  font-size: 3rem;
  color: var(--honeydew);
  padding: 2rem;
}

.container-sobremi {
  background-color: var(--english-violet);
}
.parrafos {
  font-size: 2.5rem;
  padding: 3rem 10rem;
  color: var(--honeydew);
}

.container-diplomas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 6rem;
  place-items: center;
  margin-top: 8rem;
}
.diploma {
  width: 25rem;
}
.diploma-description {
  font-size: 2rem;
  color: var(--honeydew);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-proyectos {
  background-color: var(--english-violet);
  padding: 10rem 0;
}

.container-card-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4rem;
  place-items: center;
}
.card {
  width: 40rem;
  display: grid;
  place-items: center;
  border-radius: 0.8rem;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  background-color: var(--english-violet);
}
.card:hover {
  border-radius: 20px;
  background: #2e2a3b;
  box-shadow: 13px 13px 39px #272432, -13px -13px 39px #353044;
}
.card-img {
  width: 33rem;
}
.tecnologia {
  height: 4rem;
  padding: 0 2rem;
}
.btn-ver-proyecto {
  padding: 2rem;
  margin: 1rem;
}
.enlace-ver-proyecto {
  font-size: 2rem;
  text-decoration: none;
  color: var(--light-green);
}
.enlace-ver-proyecto:hover {
  color: var(--honeydew);
  transition: 0.5s;
}
.container-enlaces {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  place-items: center;
}
.btn-contacto {
  padding: 4rem;
}
.img-btn {
  height: 8rem;
}
.btn-wsp-flotante {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}
.img-btn-flotante {
  height: 7rem;
}
.container-contacto {
  background-color: var(--english-violet);
}
.btn-contacto:hover {
  border-radius: 20px;
  background: #2e2a3b;
  box-shadow: 13px 13px 39px #272432, -13px -13px 39px #353044;
}
.formulario {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.form-label {
  font-size: 2rem;
  color: var(--honeydew);
}
::placeholder{
  color: var(--light-green);
  opacity: 0.5;
}
input:valid{
  background-color: var(--english-violet);
}
.formulario-input {
  background-color: var(--english-violet) !important;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  color: var(--light-green);
  border-radius: .5rem;
background: #2e2a3b;
box-shadow: inset 8px 8px 16px #272432,
            inset -8px -8px 16px #353044;
}
.form-textarea{
  background-color: var(--english-violet);
  border-radius: .5rem;
  border: none;
  box-shadow: inset 8px 8px 16px #272432,
            inset -8px -8px 16px #353044;
  font-size: 1.6rem; 
  color: var(--light-green);
  padding: 1rem;
}
.btn-submit{
  margin: 2rem;
  width: 15rem;
  height: 3rem;
  background-color: var(--english-violet);
  color: var(--light-green);
  border: 1px solid var(--light-green);
  border-radius: .5rem;
  font-size: 1.6rem;
}
.btn-submit:hover{
  background-color: var(--light-green);
  color: var(--english-violet);
  border: 1px solid var(--davys-gray);
  transition: .5s;
}

.contenedor-form{
  justify-content: center;
}
footer{
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--english-violet);
  padding-top: 10rem;
  p{
    font-size: large;
    color: var(--light-green);
    font-style: italic;
  }
}
@media (width < 900px) {
  .presentacion{
    flex-direction: column;
    text-align: center;
  }
  .img-alan{
    height: 18rem;
  }
  .presentacion-titulo{
    font-size: 8rem;
  }
  .presentacion-texto{
    font-size: 1.5rem;
  }
  .button{
    font-size: 1.6rem;
  }
  .skills{
    margin: 0;
    height: fit-content;
    padding: 0;
  }
  .container-diplomas{
    display: flex;
    flex-direction: column;
  }
  .container-card-projects{
    display: flex;
    flex-direction: column;
  }
}
@media (width < 790px){
  .contenedor-cards{
    display: flex;
    flex-direction: column;
  }
  .card-imagen{
    width: 6rem;
  }
  .parrafos{
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (width < 450px){
  .title-section{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
  }
  .skills{
    height: fit-content;
    padding: 10rem 0;
  }
  .container-sobremi{
    height: fit-content;
    padding: 10rem 0;
  }
  .parrafos{
    padding: .5rem;
  }
  .container-card-projects{
    height: fit-content;
  }
  .card{
    width: 30rem;
  }
  .img-btn{
    width: auto;
    height: 6rem;
  }
  .container-contacto{
    padding: 10rem 0;
  }
  .formulario{
    margin: 0;
  }
  .img-btn-flotante{
    height: 5rem;
  }
  .card-img{
    width: 25rem;
  }
  .presentacion{
    flex-direction: column;
    text-align: center;
    padding: 20rem 0;
  }
  .img-alan{
    height: 10rem;
  }
  .presentacion-titulo{
    font-size: 5rem;
  }
  .presentacion-texto{
    font-size: 1.5rem;
  }
  .formulario{
    width: 90%;
    padding: 1rem;
  }
  .btn-contacto{
    padding: 1rem 0;
  }
}